.dropdown-open /deep/ .multiselect-dropdown {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-radius: 0.2rem;
}

:host.ng-touched.ng-invalid /deep/ .multiselect-dropdown  {
  box-shadow: red 0 0 10px;
  border-radius: 10px;
}
