<header class="navbar navbar-dark navbar-fixed-top">
  <a routerLink="/">
    <img src="assets/images/logo.png" alt="logo"/>
  </a>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <p class="nav-link">{{(userInfo$ | async)?.firstName}} {{(userInfo$ | async)?.lastName}}</p>
    </li>
    <li class="nav-item"
        [ngSwitch]="isAuthenticated$ | async">
      <button class="nav-link btn btn-light"
              *ngSwitchCase="true"
              (click)="logout()">Logout</button>
      <button class="nav-link btn btn-light"
              *ngSwitchCase="false"
              (click)="login()">Login</button>
    </li>
  </ul>
</header>
